.all-listings-search-wrapper {
  max-width: 800px; /* Wider search bar for this page */
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.filter-container {
  margin-top: 20px; /* Add space between search bar and filter container */
}

/* Enhance the compare container for better UX */
.compare-container {
  transition: background-color 0.2s ease-in-out; /* Smooth transition for hover */
}
.compare-container:hover {
  background-color: hsl(var(--secondary)); /* Subtle background change on hover */
}