{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>Please fill out the details below. An administrator will review your submission before it goes live.</p>

    <form method="POST" action="" novalidate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.make.label }}<br>
            {{ form.make() }}
            {% for error in form.make.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
        </div>
        <div class="form-group">
            {{ form.model.label }}<br>
            {{ form.model() }}
            {% for error in form.model.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
        </div>
        <div class="form-group">
            {{ form.year.label }}<br>
            {{ form.year() }}
            {% for error in form.year.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
        </div>
        <div class="form-group">
            {{ form.description.label }}<br>
            {{ form.description(rows=4) }}
            {% for error in form.description.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
        </div>
        <div class="form-group">
            {{ form.images.label }}<br>
            {{ form.images() }}
            {% for error in form.images.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
        </div>
        <div class="form-group">
            {{ form.mileage.label }}<br>
            {{ form.mileage() }}
            {% for error in form.mileage.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
        </div>
        <div class="form-group">
            {{ form.transmission.label }}<br>
            {{ form.transmission() }}
            {% for error in form.transmission.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
        </div>
        <div class="form-group">
            {{ form.drivetrain.label }}<br>
            {{ form.drivetrain() }}
            {% for error in form.drivetrain.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
        </div>
        <div class="form-group">
            {{ form.fuel_type.label }}<br>
            {{ form.fuel_type() }}
            {% for error in form.fuel_type.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
        </div>
        <hr>
        <h3>Auction Details</h3>
        <div class="form-group">
            {{ form.start_price.label }}<br>
            {{ form.start_price() }}
            {% for error in form.start_price.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
        </div>
        <div class="form-group">
            {{ form.end_time.label }}<br>
            {{ form.end_time() }}
            {% for error in form.end_time.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
        </div>
        <p>
            {{ form.submit(class='btn approve') }}
        </p>
    </form>
    <a href="{{ url_for('seller.dashboard') }}">Cancel</a>
{% endblock %}