# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/
env/

# Database
instance/
*.db
*.sqlite3

# Uploads
static/uploads/

# IDE specific
.vscode/
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
.env

# Database
instance/
*.db
*.sqlite3

# Uploads
static/uploads/

# IDE / Editor specific
.vscode/
.idea/

# modules
node_modules/